* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

.navbar {
    text-align: left;
    padding: 20px;
    background-color: #000000;
    border-bottom: 9px solid #ffffffec;
    border-left: 9px solid #ff000055;
    /* box-shadow: 5px 1px 28px 16px #be000090; */

    & a {
        color: red;
        text-decoration: none;
        font-size: 30px;
        font-weight: 800;
    }
}

.container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    /* duas colunas de tamanho igual */
    padding-top: 101px;
    gap: 0px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff000055;
    border: 3px solid #8c8273;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    text-align: left;
    margin: auto;
    box-shadow: 23px 19px 74px -18px #8c8273;

    & label {
        font-size: 16px;
        font-weight: 500;
        color: #ffcbcb;
    }

    & input {
        height: 20px;
        margin-top: 5px;
        padding-left: 5px;
        border: 2px solid black;
    }

    & input:focus {
        outline: 2px solid #8c8273;
        border: none;
    }

    & h3 {
        color: white;
        font-size: 25px;
        padding-bottom: 10px;
    }

    & button {
        cursor: pointer;
        margin-top: 20px;
        width: 164px;
        height: 25px;
        border: 2px solid black;
        border-radius: 20px;
    }

    & button:hover {
        color: #fff;
        background-color: #8c8273;
        border: 2px solid black;
    }

    & button:active {
        background-color: green;
    }
}

.errors {
    color: red;
    font-size: 16px;
    padding-bottom: 0px;
}

#h1-post {
    margin-top: 70px;
    color: rgb(21, 255, 0);
    text-align: center;
}