
<% if(error.length > 0) { %>
    <div class="errors">
        <% error.forEach( err => { %>
            <p><%= err %></p> <br>
        <% }); %>
    </div>
<% }; %>

<% if(error.length === 0) { %>
    <div class="errors">
            <p>Usuário criado com sucesso!</p> <br>
    </div>
<% }; %>