<%- include('./includes/header.ejs') %>

    <h1>Formulário</h1>
    <h1><%= csrfToken %></h1>
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="">Nome:</label>
        <input type="text" name="" id="">
        <button type="submit">enviar</button>
    </form>

<%- include('./includes/footer.ejs') %>