<%- include('./includes/header.ejs') %>

    <nav class="navbar">
        <a href="">Home</a>
    </nav>
    <h1 id="h1-post">Formulário enviado com sucesso!</h1>

<%- include('./includes/footer.ejs') %>