<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Esquerda -->
    <a class="navbar-brand mb-0 h1" href="/login/enter">Agenda</a>
    <!-- Direita -->
    <div class="d-flex gap-3">
      <% if(!user) { %>
        <div class="d-flex gap-3">
          <a href="/contato/index" class="text-danger text-decoration-none">Criar contatos</a>
        </div>
        <a href="/login" class="text-danger text-decoration-none">Entrar</a>
        <% } else {%>
          <div class="d-flex gap-3">
            <a href="/contato/index" class="text-danger text-decoration-none">Criar contatos</a>
          </div>
          <a href="/login/logout" class="text-danger text-decoration-none">Sair</a>
        <% };%>
    </div>

  </div>
</nav>