<%- include('./includes/head')%>
    <%- include('./includes/nav')%>

        <div class="container-err">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Agenda</h1>
                    <p class="text-center lead">Seus contatos estão abaixo</p>

                    <%- include('includes/messages')%>
    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Gabriel</td>
                                <td>gabriel@email.com</td>
                                <td>7392731954</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Luiz</td>
                                <td>luiz@email.com</td>
                                <td>1938019238</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Ramon</td>
                                <td>ramon@email.com</td>
                                <td>3987313653</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>

        <%- include('./includes/footer')%>