body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-primary);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --color-primary: rgba(116, 157, 215, 0.58);
}
#container {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.386);
}

#login {
    text-align: center;
    width: 70%;
}
#login h1 {
    font-size: 3em;
    margin-top: 70px;
    margin-bottom: 5px;
}
#login label{
    text-align: left;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}
#login input{
    width: 100%;
    border: solid 2px black;
    display: block;
}
#login input:enabled {
    text-align: center  ;
}   

#botaoLogin{
    border: none;
    text-align: center;
    width: 105%;
    padding: 10px;
    margin-top: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 1em;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 70px;
}

#botaoLogin:active {
    color: black;
    background-color: rgb(187, 212, 149);
}